# 양쪽 서버에 같은 내용으로 배포한다.
# _DG 항목은 Data Guard Broker 가 쓰는 정적 서비스다(Broker 를 쓰지 않아도 넣어 둔다).
@PRI_UNIQUE_UC@ =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = @PRI_HOST@)(PORT = @PORT@))
    )
    (CONNECT_DATA = (SERVICE_NAME = @PRI_UNIQUE@))
  )

@STB_UNIQUE_UC@ =
  (DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = @STB_HOST@.@DOMAIN@)(PORT = @PORT@))
    )
    (CONNECT_DATA = (SERVICE_NAME = @STB_UNIQUE@))
  )

@PRI_UNIQUE_UC@_DG =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = @PRI_HOST@)(PORT = @PORT@))
    (CONNECT_DATA = (SERVICE_NAME = @PRI_UNIQUE@_DGMGRL))
  )

@STB_UNIQUE_UC@_DG =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = @STB_HOST@)(PORT = @PORT@))
    (CONNECT_DATA = (SERVICE_NAME = @STB_UNIQUE@_DGMGRL))
  )
